### Superstore_USA

##### 1. Load this data in sql and pandas with a relation in sql
##### 2. While loading this data, you don't have to create a table manually. Use any automated approach to create table and bulk load data.
##### 3. Find out how many return that we have received and with a product id.
##### 4. Try to join order and return data both in sql and pandas
##### 5. Try to find out how many unique customer that we have.
##### 6. How many regions we are selling a product in and who is the manager of respective region.
##### 7. Find out how many different shipment model that we have and what is the %age usability of all of the shipment mode with respect to dataset.
##### 8. Create a new column and try to find out a differece between order date and shipment date
##### 9. Base on question 8 find out which order ID we have shipment duration more than 10 days.
##### 10. Try to find out a list of a returned order which shipment duration was more than 15 days and find out that region manager as well.
##### 11. Group by region and find out which region is more profitable
##### 12. Try to find out overall in which country we are giving more discount.
##### 13. Give me a list of unique postal code.
##### 14. Which customer segment is more profitable find it out.
##### 15. Find out the 10th most loss making product category.
##### 16. Try to find out the product with highest margin.

#

In [154]:
# 1. Load this data in sql and pandas with a relation in sql.

import pandas as pd
import mysql.connector as conn
from sqlalchemy import create_engine

# DataFrames all three sheets

df_orders = pd.read_excel('D:/Superstore_USA.xlsx',sheet_name='Orders')

df_returns = pd.read_excel('D:/Superstore_USA.xlsx',sheet_name='Returns')

df_users = pd.read_excel('D:/Superstore_USA.xlsx',sheet_name='Users')

#####

In [155]:
# 2. Insert table in mysql on automation.

mydb = conn.connect(host='localhost', user='root', passwd='*Himgos13', db='ineuron_task')

cursor = mydb.cursor(buffered=True)

In [165]:
engine = create_engine('mysql+pymysql://root:*Himgos13@localhost/ineuron_task')

# df_orders.to_sql('superstore',con=engine)

df_returns.to_sql('returns',con=engine)


# Both tables added in mysql workbench

1634

#####

In [22]:
# 3. Find out how many return that we have received and with a product id.

df_returns['Order ID'].nunique()

1634

#####

In [30]:
# 4. Try to join order and return data both in sql and pandas

pd.merge(df_orders,df_returns, on=['Order ID'], how='left').head(2)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32,2,5.90,88525,NaN
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.56,4,13.01,88522,NaN

In [ ]:
# joining in MySQL

cursor.execute("""SELECT * FROM superstore s 
                JOIN returns r 
                ON s.`Order ID` =  r.`Order ID`""")

for i in cursor.fetchall():
    print(i)

#####

In [35]:
# 5. Try to find out how many unique customer that we have.

df_orders['Customer ID'].nunique()

2703

#####

In [43]:
# 6. How many regions we are selling a product in and who is the manager of respective region.

df_users['Region'].count()  # 4 regions

df_users

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

#####

In [60]:
# 7. Find out how many different shipment model that we have and what is the %age usability of all of the shipment mode with respect to dataset.

filt = df_orders['Ship Mode'].value_counts(normalize = True) * 100

df_ship = pd.DataFrame(filt)

df_ship.rename(columns = {'Ship Mode': 'Usability_percent'}, inplace=True)

df_ship

                Usability_percent
Regular Air             74.644600
Delivery Truck          13.611288
Express Air             11.744112

#####

In [68]:
# 8. Create a new column and try to find out a differece between order date and shipment date

df_orders['time_taken'] = abs(df_orders['Order Date'] - df_orders['Ship Date'])

df_orders[['Order Date', 'Ship Date', 'time_taken']].head()

  Order Date  Ship Date time_taken
0 2012-05-28 2012-05-30     2 days
1 2010-07-07 2010-07-08     1 days
2 2011-07-27 2011-07-28     1 days
3 2011-07-27 2011-07-28     1 days
4 2011-07-27 2011-07-27     0 days

#####

In [71]:
# 9. Base on question 8 find out which order ID we have shipment duration more than 10 days.

filt = (df_orders['time_taken'] > '10 days')

df_orders.loc[filt,['Order ID', 'time_taken']]

      Order ID time_taken
643      87215    84 days
1548     86318    11 days
1549     86318    15 days
1678     87957    17 days
1679     87957    11 days
1680     87957    28 days
1697     19556    17 days
1698     19556    11 days
1699     19556    28 days
2515     86177    92 days
5548     88223    14 days
5673     88352    17 days
5859     87572    22 days
5881     91294    24 days
8607     86434    18 days
8609     86436    17 days
8610     86436    19 days
8973     87300    19 days
8982     19841    27 days
8983     19841    31 days
8993     19841    19 days
8996     87300    27 days
8997     87300    31 days

#####

In [89]:
# 10. Try to find out a list of a returned order which shipment duration was more than 15 days and find out that region manager as well.

order_return = pd.merge(df_orders, df_returns, on ='Order ID')

order_region = pd.merge(df_orders, df_users, on='Region')

filt = order_return['time_taken'] > '15 days'

order_return.loc[filt, 'Order ID']

# No data

Series([], Name: Order ID, dtype: int64)

#####

In [95]:
# 11. Group by region and find out which region is more profitable

region_group = order_region.groupby(['Region'])
region_group['Profit'].sum()

Region
Central    519825.567067
East       377566.186045
South      104201.192420
West       310849.453897
Name: Profit, dtype: float64

#####

In [123]:
# 12. Try to find out overall in which country we are giving more discount.

total_disc = df_orders.groupby(['State or Province'])['Discount'].sum()

total_disc.sort_values(ascending=False).head(1)

State or Province
California    52.28
Name: Discount, dtype: float64

#####

In [129]:
# 13. Give me a list of unique postal code.

df_orders['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)

#####

In [136]:
# 14. Which customer segment is more profitable find it out.

df_orders.groupby(['Customer Segment'])['Profit'].sum().sort_values(ascending=False)

Customer Segment
Corporate         505538.627783
Small Business    316474.592482
Home Office       283869.553814
Consumer          206559.625348
Name: Profit, dtype: float64

#####

In [146]:
# 15. Find out the 10th most loss making product category.

loss_cat = df_orders.groupby(['Product Sub-Category'])['Profit'].sum().sort_values()

loss_cat

Product Sub-Category
Tables                            -72495.061875
Bookcases                          -7708.748564
Rubber Bands                       -2841.722459
Scissors, Rulers and Trimmers      -1936.849120
Pens & Art Supplies                 1195.902840
Storage & Organization              8078.804727
Labels                             17775.320505
Paper                              35361.621738
Envelopes                          46133.223840
Computer Peripherals               87917.842513
Office Furnishings                 92209.225867
Appliances                        121651.391380
Copiers and Fax                   129156.684030
Chairs & Chairmats                165348.882760
Office Machines                   168072.833340
Binders and Binder Accessories    226572.523042
Telephones and Communication      297950.524866
Name: Profit, dtype: float64

In [147]:
loss_cat[9:10]

Product Sub-Category
Computer Peripherals    87917.842513
Name: Profit, dtype: float64

#####

In [151]:
# 16. Try to find out the product with highest margin.

df_orders.groupby(['Product Name'])['Product Base Margin'].max().sort_values(ascending=False).head()

Product Name
Office Impressions Heavy Duty Welded Shelving & Multimedia Storage Drawers    0.85
Accessory4                                                                    0.85
Sterling Rubber Bands by Alliance                                             0.85
Belkin OmniView SE Rackmount Kit                                              0.85
Accessory27                                                                   0.85
Name: Product Base Margin, dtype: float64