##### 1. Read this dataset in pandas, mysql and mongodb
##### 2. While creating a table in mysql don't use manual approach to create it. Use Automation. Use csvkit library for bulk load.
##### 3. Convert all the dates available in dataset to timestamp format in pandas and in sql you convert it in date format.
##### 4. Find out in this data that how many unique IDs we have
##### 5. Which ID is one of the active ID that you have in whole dataset
##### 6. How many of them not logged their activity. Find out number of ids.
##### 7. Find out the laziest person ID.
##### 8. Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in data.
##### 9. How many people are not a regular person with respect to activity try to find out those.
##### 10. Who is the third most active person in this dataset, find in pandas and sql both.
##### 11. Who is 5th  most laziest person available in dataset.
##### 12. What is the total accumulative calories burn for a person.

#

In [145]:
# 1. Read this dataset in pandas, mysql and mongodb

import pandas as pd
import mysql.connector as conn
import pymongo
import csvkit
from sqlalchemy import create_engine


# Reading in pandas

df = pd.read_csv('D:/FitBit data.csv')
df.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154

In [147]:
# Loading mysql and mongodb

# mysql

mydb = conn.connect(host='localhost', user='root', passwd='*Himgos13', db='ineuron_task')
print(mydb)    # Checking connection

cursor = mydb.cursor(buffered=True)

engine = create_engine('mysql+pymysql://root:*Himgos13@localhost/ineuron_task')

df.to_sql('fitbit',con=engine)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016388D2DAF0>

457

In [ ]:
# mongodb

client = pymongo.MongoClient("mongodb+srv://himgos13:Himgos13@ineuron.j80ucgd.mongodb.net/?retryWrites=true&w=majority")
db = client.test
print(db)

dic = df.to_dict(orient = 'records')

db = client['fitbit']
coll = db['FitBit_table']
coll.insert_many(dic)

#####

In [12]:
# 3. Convert all the dates available in dataset to timestamp format in pandas and in sql you convert it in date format.


df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])

type(df['ActivityDate'][0])

pandas._libs.tslibs.timestamps.Timestamp

#####

In [28]:
# 4. Find out in this data that how many unique IDs we have.

df['Id'].nunique()

35

#####

In [92]:
# 5. Which ID is one of the active ID that you have in whole dataset

id_grouping_cal = df.groupby(['Id'])

In [93]:
all_id = df['Id'].value_counts()
all_id

id_calories = id_grouping_cal['Calories'].sum()
id_calories

most_active = pd.concat([all_id, id_calories], axis='columns', sort=False)
most_active.rename(columns={'Id': 'TotalSessions', 'Calories': 'CaloriesBurned'}, inplace=True)

most_active.sort_values(by=['CaloriesBurned'], ascending=False, inplace=True)

# top 3
most_active.iloc[0:3]

            TotalSessions  CaloriesBurned
4020332650             32           98412
4057192912             32           60913
4702921684             15           42322

In [94]:
# Most Active 

most_active.iloc[0]

TotalSessions        32
CaloriesBurned    98412
Name: 4020332650, dtype: int64

#####

In [82]:
# 6. How many of them not logged their activity. Find out number of ids.

most_active.tail()

            TotalSessions  CaloriesBurned
8253242879             12           17556
3977333714             12           16777
2026352035             12           16266
6391747486              9           15868
4388161847              8           14442

#####

In [84]:
# 7. Find out the laziest person ID.

most_active.tail(1)

            TotalSessions  CaloriesBurned
4388161847              8           14442

#####

In [123]:
# 8. Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in data.

# women burn 2000  and men burn 2500, let's take their mean value as 2250 since we don't know gender of ID.

most_active['DailyCalories'] = (most_active['CaloriesBurned']//most_active['TotalSessions'])

filt = most_active['DailyCalories'].apply(lambda x: 'Healthy' if x>2250 else 'Unhealthy')

most_active['HealthStatus'] = filt

most_active['HealthStatus'].value_counts()

Unhealthy    22
Healthy      13
Name: HealthStatus, dtype: int64

#####

In [124]:
# 9. How many people are not a regular person with respect to activity try to find out those.

filt = df['TotalSteps'] == 0             # If they didn't had any STEP on a date, means they didn't workout that day.
df.loc[filt]['Id'].value_counts()

4057192912    13
4388161847     8
6290855005     8
2891001357     6
6391747486     6
8253242879     6
2320127002     4
1844505072     3
6117666160     2
2347167796     1
2873212765     1
4319703577     1
4702921684     1
6775888955     1
Name: Id, dtype: int64

In [125]:
df.loc[filt]['Id'].nunique()     # Total 14 people have missed their workout at some day.

14

#####

In [127]:
# 10. Who is the third most active person in this dataset, find in pandas and sql both.

most_active.head(3)

            TotalSessions  CaloriesBurned  DailyCalories HealthStatus
4020332650             32           98412           3075      Healthy
4057192912             32           60913           1903    Unhealthy
4702921684             15           42322           2821      Healthy

In [128]:
most_active[2:3]

            TotalSessions  CaloriesBurned  DailyCalories HealthStatus
4702921684             15           42322           2821      Healthy

#####

In [129]:
# 11. Who is 5th most laziest person available in dataset.

most_active.tail(5)

            TotalSessions  CaloriesBurned  DailyCalories HealthStatus
8253242879             12           17556           1463    Unhealthy
3977333714             12           16777           1398    Unhealthy
2026352035             12           16266           1355    Unhealthy
6391747486              9           15868           1763    Unhealthy
4388161847              8           14442           1805    Unhealthy

In [133]:
most_active[-5:-6:-1]

            TotalSessions  CaloriesBurned  DailyCalories HealthStatus
8253242879             12           17556           1463    Unhealthy

#####

In [144]:
# 12. What is the total accumulative calories burn for a person.

most_active[['CaloriesBurned', 'DailyCalories']].head(5)

            CaloriesBurned  DailyCalories
4020332650           98412           3075
4057192912           60913           1903
4702921684           42322           2821
8877689391           41414           3451
8378563200           40274           3356