In [28]:
import pandas as pd
import mysql.connector as conn
import pymongo
import json

In [42]:
mydb = conn.connect(host="localhost", user='root', passwd='*Himgos13', db='ineuron_25Jul_asgnmt')

cursor = mydb.cursor()

print(mydb)      # Checking MySQL Connection

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000017A805936D0>

In [14]:
client = pymongo.MongoClient("mongodb+srv://himgos13:Himgos13@ineuron.j80ucgd.mongodb.net/?retryWrites=true&w=majority")
db = client.test

print(db)      # Checking MongoDB connection

Database(MongoClient(host=['ac-kz0b5rp-shard-00-01.j80ucgd.mongodb.net:27017', 'ac-kz0b5rp-shard-00-00.j80ucgd.mongodb.net:27017', 'ac-kz0b5rp-shard-00-02.j80ucgd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-y6bnj3-shard-0', tls=True), 'test')

#

In [19]:
# Reading SQL Queries and creating dataframe of both tables (attribute - df1 , dress - df2)

sql_attribute = pd.read_sql('SELECT * FROM attribute_dataset',mydb)

df1 = pd.DataFrame(sql_attribute, columns= ['Dress_ID', 'Style', 'Price','Rating','Size','Season',
                                            'NeckLine','SleeveLength','WaiseLine','Material','FabricType',
                                            'Decoration','PatternType','Recommendation'])



sql_dress = pd.read_sql('SELECT * FROM dress_sales',mydb)

df2 = pd.DataFrame(sql_dress, columns = ['Dress_ID','29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013',
                                        '12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','24/9/2013'
                                        '24/9/2013','26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013',
                                        '8/10/2010','10/10/2013','12/10/2013'])

C:\Users\Himz\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Himz\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
# Checking both Dataframes

print(df1)
print(df2)

#

### Task 4 -> Convert attribute dataset in json format

In [ ]:
df1.to_json('Attribute_table_json.json')

#

### Task 5 -> Store this dataset into mongodb

In [29]:
# we will create a database named as 'ineuron_task' with collection named as '24Jul'

database = client['ineuron_task']
coll = database['24Jul']


with open('Attribute_table_json.json') as att_file :
    file_data = json.load(att_file)
     

if isinstance(file_data, list):
    coll.insert_many(file_data) 
else:
    coll.insert_one(file_data)

In [ ]:
# Checking if json file has been inserted in mongodb!
check = coll.find()
for i in check:
    print(i)

#

### Task 6 -> Perform left join operation of both tables

In [34]:
# SQL Query
cursor.execute("""SELECT * 
                FROM attribute_dataset att
                LEFT JOIN dress_sales drs ON att.Dress_ID = drs.Dress_ID""")

In [ ]:
# Using Json for same task

merging_json = pd.merge(df1,df2,how='left',on='Dress_ID')
print(merging_json)

#

### Task 7 -> Find how many unique dress that we have based on dress id

In [43]:
# SQL Query

cursor.execute("SELECT COUNT(DISTINCT Dress_ID) FROM dress_sales")

for i in cursor.fetchall():
    print(i)

(475,)

#

### Task 8 -> How many dress is having recommendation 0

In [45]:
# Using Dataframe

print(sum(df1.Recommendation==0))

290

In [55]:
# Using SQL Query

cursor.execute("SELECT COUNT(Dress_ID) FROM attribute_dataset WHERE Recommendation = 0")

for i in cursor.fetchall():
    print(i)

(290,)

#

### Task 9 -> Find out total dress sell for individual dress id

In [86]:
df2['chdo'] = df2[['Dress_ID','29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013',
                                        '12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','24/9/2013'
                                        '24/9/2013','26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013',
                                        '8/10/2010','10/10/2013','12/10/2013']].agg('sum',axis=1)

In [87]:
print(df2.groupby('Dress_ID')['chdo'].sum())

Dress_ID
444282011     4.442821e+08
510519284     5.105193e+08
511503677     5.115042e+08
520233308     5.202344e+08
522776523     5.227774e+08
                  ...
1246749980    1.246750e+09
1246945687    1.246946e+09
1249825438    1.249826e+09
1250787559    1.250788e+09
1253973206    1.253973e+09
Name: chdo, Length: 475, dtype: float64

#

### Task 10 -> Find out a third highest most selling dress id

In [83]:
third_largest = df2.groupby('Dress_ID')['chdo'].sum().reset_index()

print(third_largest.chdo.nlargest(3).iloc[-1])

2167559488.0